<template id="appRouter">
  <slot></slot>
</template>
<script>
  class AppRouter extends CustomElement {
    static component = Object.freeze({
      selector: 'app-router',
      templateId: 'appRouter'
    });

    #routes = [];
    #queryParamsListeners = {};
    #baseUrl = document.baseURI.replace(window.location.origin, '');
    #getBaseLink = (link) => this.#baseUrl + (link[0] === '/' ? link.substring(1) : link);
    #addLinkTrailingSlash = (link) => link[link.length - 1] === '/' ? link : link + '/';

    connectedCallback() {
      this.root.querySelector('slot').addEventListener('slotchange', event => this.onSlotChange(event));

      document.body.addEventListener('routeChange', ({ detail }) => {
        const link = this.#getBaseLink(detail.link);
        const url = detail.params ? `${link}?${detail.params}` : link;
        window.history.pushState({}, '', url);
        this.onRouteChange(link, detail.params)
      }, false);

      window.addEventListener('popstate', (event) => {
        event.preventDefault();
        this.#setCurrentRoute();
      });
    }

    onRouteChange(path, params) {
      path = this.#addLinkTrailingSlash(path);
      const paramsArray = params ? params.split('&').reduce((acc, param) => {
        const [key, value] = param.split('=');
        acc[key] = value;
        return acc;
      }, {}) : {};

      this.#routes.forEach(({ route, element }) => {
        element.style.display = path === route ? 'block' : 'none';

        if (path === route && element.__ROUTE_PARAM_KEYS && element.onRouteParamsChange) {
          const elementParamsMap = element.__ROUTE_PARAM_KEYS.reduce((agg, key) => {
            agg[key] = paramsArray[key];
            return agg;
          }, {});
          element.onRouteParamsChange(route, elementParamsMap);
        }
      });
    }

    onSlotChange(event) {
      this.#routes = [];
      // get all assigned elements, get the route attribute and store it in the #routes array.
      event.target.assignedElements().forEach(element => {
        const dataRoute = element.dataset.route;
        if (dataRoute) {
          const route = this.#addLinkTrailingSlash(this.#getBaseLink(dataRoute));
          this.#routes.push({ route, element });
        }

        if (element.dataset.routeParam) {
          element.__ROUTE_PARAM_KEYS = element.dataset.routeParam.split(',');
        }
      });

      this.#setCurrentRoute();
    }

    #setCurrentRoute() {
      this.onRouteChange(window.location.pathname, window.location.search.substring(1));
    }
  };
  AppRouter.componentInit();
</script>
<script>
  class AppRouterLink extends HTMLAnchorElement {
    connectedCallback() {
      this.addEventListener('click', e => {
        e.preventDefault();
        const link = this.getAttribute('href');
        if (link) {
          this.dispatchEvent(new CustomEvent('routeChange', { detail: { link, params: this.dataset.params }, composed: true, bubbles: true }));
        }
      });
    }
  }

  core.registerComponent('router-link', AppRouterLink, [], 'a');
</script>