<template id="appRouter">
  <slot></slot>
</template>
<script>
  const appRouterBasePath = document.getElementsByTagName('base')[0].getAttribute('href') || '';
  class AppRouter extends CustomElement {
    static component = Object.freeze({
      selector: 'app-router',
      templateId: 'appRouter'
    });

    #routes = [];
    connectedCallback() {
      this.root.querySelector('slot').addEventListener('slotchange', event => this.onSlotChange(event));

      document.body.addEventListener('routeChange', event => (this.onRouteChange(event.detail)), false);

      window.addEventListener('popstate', (event) => {
        event.preventDefault();
        this.onRouteChange(window.location.pathname);
      });
    }

    onRouteChange(path) {
      this.#routes.forEach(({ route, element }) => {
        element.style.display = path === route ? 'block' : 'none';
      });
    }

    onSlotChange(event) {
      this.#routes = [];
      // get all assigned elements, get the route attribute and store it in the #routes array.
      event.target.assignedElements().forEach(element => {
        const route = appRouterBasePath + element.dataset.route;
        if (route) {
          this.#routes.push({ route, element });
        }
      });

      this.onRouteChange(window.location.pathname);
    }
  };
  AppRouter.componentInit();
</script>
<script>
  class AppRouterLink extends HTMLAnchorElement {
    connectedCallback() {
      this.addEventListener('click', e => {
        e.preventDefault();
        const link = this.getAttribute('href');
        const params = this.dataset.params;
        const url = params ? `${link}?${params}` : link;
        window.history.pushState({}, '', appRouterBasePath + url);
        this.dispatchEvent(new CustomEvent('routeChange', { detail: appRouterBasePath + link, composed: true, bubbles: true }));
      });
    }
  }

  core.registerComponent('router-link', AppRouterLink, [], 'a');
</script>