<template id="output-color">
  <style>
    :host {
      display: block;
    }
  </style>
  <p>
    COLOR-NAME:
    <b data-bind="color" data-css="color:color"></b>
  </p>
  <button data-on="click:onReset()">Reset To Black</button>
</template>
<script type="module">
  /** 
   * The jsdom and happy-dom libraries do not support the dynamic import of <script type="module">.
   * so we need to separate the html and js part in order to write unit tests. In a real browser environment,
   * we can extract the js part and put it inject it in the document.
   */
  import '/components/output-color.component.js';
</script>