<template id="test-page">
  <h2>Test Page</h2>
  <section>
    <button data-on="click:onClick('RED')">RED</button>
    <button data-on="click:onClick('BLUE')">BLUE</button>
  </section>
  <output-color color="BLACK" data-bind-color="color" data-on="colorReset:onReset($event)"></output-color>
</template>
<script type="module">
  import { CustomElement } from 'core';

  class TestPage extends CustomElement {
    static component = Object.freeze({
      selector: 'test-page',
    });

    onRouteParamsChange(route, params) {
      const color = params.c || 'BLACK';
      this.state.setState({ color });
    }

    onClick(color) {
      this.state.setState({ color });
    }

    onReset(color) {
      this.state.setState({ color });
    }
  };
  TestPage.componentInit();
</script>